*{
	box-sizing: border-box;
	margin: 0;
}
/*Применяем подключенный шрифт для body*/
body {
	font-family: 'Open Sans', Helvetica, Arial, sans-serif;
}
section {
	margin-bottom: 20px;
}
h2 {
	margin: 0px 0px 20px 0px;
}
p{
	font-size: 18px;
	margin-bottom: 10px;
}

.header {
	padding: 20px;
	background-color: gray;
	width: 100%;
	text-align: start;
	top: 0;
}
.header-link {
	margin: 0 15px;
	padding: 5px 10px;
}
.header-link:hover {
	background-color: #fff;
	padding: 5px 10px;
	transition: background-color 2s;
	border-radius: 4px;
	color: #000;
}
.link {
	color: #fff;
	font-size: 20px;
	text-decoration: none;
}

.main {
	
}
.title {
	text-align: center;
	margin: 22px 0px;
	font-family: 'Roboto Slab', Helvetica, Arial, serif;
}
.main-wrapper {
	margin: 0 auto;
    width: 1000px;
    display: flex;
    flex-grow: 1;
    padding-top: 50px;
}
.photo-wrapper {
	
}
.photo {
	padding: 160px 10px;
    background: rgb(8, 117, 40);
}
.wrapper-section {
	flex-grow: 1;
    padding-left: 50px;
}
.subtitle {
    border-left: 5px solid rgb(8, 117, 40);
	padding-left: 10px;
	font-family: 'Roboto Slab', Helvetica, Arial, serif;
}
.about {
}

.education {
}
.experience {
}
.hobby {
}
.developer {
}
.footer {
	padding: 10px;
	background-color: gray;
}
.item-wrapper {
	text-align: center;
}

.item-link {
    padding: 0px 80px;
	margin: 0 50px 0 0;
}
.item-img {
	vertical-align: text-bottom; 
	padding-bottom: 4px;
}
.copy {
	padding-top: 10px;
	text-align: center;
	margin: 0;
}
